header {
  background: #49bbbd;
}

header .container {
  padding-top: 1.25rem;
  width: 69.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4.75rem;
}

nav {
  display: flex;
  align-items: center;
}

header a,
header button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
}

header button {
  width: 6.66rem;
  height: 2.5rem;
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 3.33rem;
  box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.03);
}

.sign-in-button {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}

.link-group {
  display: flex;
  gap: 3.3rem;
  align-items: center;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.herro {
}
