.container {
  width: 66.6rem;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}
html {
  font-size: calc(100vw * (24 / 1920));
}

body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.clip-defs {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
}

.imgDiv {
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid gray;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
}
